<!DOCTYPE html>
<!--
    __BUILD_MESSAGE__
    build options: __BUILD_OPTIONS__
    build at: __BUILD_TIMESTAMP__
    repository: __REPOSITORY_URL__
-->
<!-- license:
__LICENSE__-->
<html lang="en">
<head>
<meta charset="utf-8">
<title>__APPLICATION_TITLE__</title>
<link id="favicon" rel="shortcut icon" href="./image/favicon.png">
<link rel="canonical" href="__CANONICAL_URL__">
<link rel="apple-touch-icon" href="./image/favicon.png">
<meta name="theme-color" content="__THEME_COLOR__">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no">
<meta name="description" lang="ja" content="__DESCRIPTION__">
<!-- link id="manifest" rel="manifest" href="web.manifest.json" / -->
<meta name="apple-mobile-web-app-title" content="__APPLICATION_TITLE__">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wraith13">
<!-- meta name="twitter:creator" content="@wraith13" -->
<meta name="twitter:title" content="__APPLICATION_TITLE__">
<meta name="twitter:description" lang="en" content="__DESCRIPTION__">
<meta name="twitter:image" content="https://wraith13.github.io/slide-rule/image/twitter-card.png">
<meta property="og:title" content="__APPLICATION_TITLE__" />
<meta property="og:description" content="__DESCRIPTION__" />
<meta property="og:type" content="website" />
<meta property="og:url" content="__CANONICAL_URL__" />
<meta property="og:image" content="https://wraith13.github.io/slide-rule/image/twitter-card.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="__APPLICATION_TITLE__" />
<meta property="og:locale" content="en_US" />
<link rel="image_src" href="https://wraith13.github.io/slide-rule/image/twitter-card.png" />
<style>
__STYLE__
</style>
</head>
<body>
<noscript id="noscript" role="presentation">
    <div class="panel" role="presentation">
        <div class="section" role="presentation">
            <h2>NOSCRIPT</h2>
            __NOSCRIPT_MESSAGE__
        </div>
    </div>
</noscript>
🚧 UNDERCONSTRUCTION
<div id="view-list">
    <div id="ruler-view" class="view">
        RULER VIEW
        <svg id="ruler-svg" class="screen"></svg>
        <div id="ruler-new-slide-panel">
            <span class="title">Add a Lane</span>
            <button id="add-slide-button">add slide ➡️</button>
            <!-- button id="add-lane-button">⬅️ add lane</button -->
            <h3>Math-basics:<h3>
            <button id="add-invert-lane-button">⬅️ add invert lane</button>
            <button id="add-squared-lane-button">⬅️ add squared lane</button>
            <button id="add-cubed-lane-button">⬅️ add cubed lane</button>
            <button id="add-square-root-lane-button">⬅️ add square root lane</button>
            <button id="add-cube-root-lane-button">⬅️ add cube root lane</button>
            <h3>Math-trigonometric-functions:<h3>
            <button id="add-sine-lane-button">⬅️ add sine lane</button>
            <button id="add-cosine-lane-button">⬅️ add cosine lane</button>
            <button id="add-tangent-lane-button">⬅️ add tangent lane</button>
            <button id="add-cotangent-lane-button">⬅️ add cotangent lane</button>
            <h3>Math-numbers:<h3>
            <button id="add-2n-lane-button">⬅️ add 2^n lane</button>
            <button id="add-prime-numbers-lane-button">⬅️ add prime numbers lane</button>
            <h3>Constants:<h3>
            <button id="add-size-lane-button">⬅️ add size lane</button>
            <button id="add-mass-lane-button">⬅️ add mass lane</button>
            <button id="add-time-lane-button">⬅️ add time lane</button>
            <button id="add-speed-lane-button">⬅️ add speed lane</button>
            <button id="add-em-wavelength-lane-button">⬅️ add EM wavelength lane</button>
        </div>
        <div id="ruler-help-panel">
            <span class="title">Help</span>
        </div>
        <svg id="ruler-overlay-svg" class="screen" pointer-events="none"></svg>
    </div>
    <div id="grid-view" class="view">GRID VIEW</div>
    <div id="graph-view" class="view">GRAPH VIEW</div>
</div>
<div id="control-panel">
    <form aria-label="Control Panel">
        <button id="view-mode-button" class="round-button round-bar">
            <span id="ruler-view-icon">__RULER_ICON__</span>
            <span id="grid-view-icon">__GRID_ICON__</span>
            <span id="graph-view-icon">__GRAPH_ICON__</span>
        </button>
        <button id="view-scale-button" class="round-button round-bar">__ZOOM_ICON__</button>
    </form>
</div>
<div id="view-scale-panel" class="popup-panel" role="presentation">
    <form aria-label="View Scale Panel">
        <input id="view-scale-range" type="range" aria-label="View Scale" min="0" max="100" step="any" />
    </form>
</div>
<script type="text/javascript">
const build = {
    at: "__BUILD_TIMESTAMP__",
    tick: __BUILD_TIMESTAMP_TICK__
};
const evilCommonjsConfig = __EVIL_COMMONJS_CONFIG__; // "./resource/evil-commonjs.config.json"
__EVIL_COMMONJS__
__SCRIPT__
// if ("serviceWorker" in navigator)
// {
//     window.addEventListener
//     (
//         "load",
//         () =>
//         {
//             navigator.serviceWorker.register("./sw.js")
//                 .then(reg => console.log("✅ SW registered:", reg.scope))
//                 .catch(err => console.warn("🚫 SW registration failed:", err));
//     }
//     );
// }
</script>
</body>
</html>
