html, body, .screen
{
    height: 100%;
    min-height: 100vh;
    min-height: 100lvh;
    max-height: 100vh;
    max-height: 100lvh;
    width: 100%;
    min-width: 100vw;
    min-width: 100lvw;
    max-width: 100vw;
    max-width: 100lvw;
}
html, body
{
    margin: 0px;
    padding: 0px;
    overflow: visible;
}
.screen
{
    position: fixed;
    inset: 0px;
    image-rendering: pixelated;
}
